header{
    width: 100%;
    height: 700px;
    background-image: url(../images/space.jpg);
    background-repeat: no-repeat;
}
.nav{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0px 100px;
}

.logo h1{

    font-size: 60px;
    color: white;
}
.links ul{
    margin-top: 75px;
    display: flex;
}
.links ul li{
    list-style: none;
}
.links ul li a{
    text-decoration: none;
    font-size: 20px;
    margin-left: 20px;
    text-transform:capitalize;
    color: white;
}
.text{
    width: 600px;
    margin-left: 150px;
}
.text h1{
    font-size: 60px;
    color: white;
}
.text p{
    font-size: 20px;
    color: white;
}
html, body {
    height: 100%;
}

#home {
    display: flex;
    height: 100%;
    background-color: lightskyblue;
}

#home .headings {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
}

#home .head-image {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.head-image img {
    margin: auto;
}